
<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
</head>
<body>
<h1>Welcome Teacher</h1>

<ul>
    <li><a href="{{ url_for('add_assignment') }}">Add Assignment</a></li>
    <li><a href="{{ url_for('teacher_view_students') }}">View Students</a></li>
</ul>
<h2>Recent Notices</h2>

{% if notices %}
    {% for notice in notices %}
        <div>
            <strong>{{ notice.title }}</strong><br>
            {{ notice.message }}<br>
            <small>Posted on: {{ notice.posted_on }}</small>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No notices available</p>
{% endif %}


<h2>Upcoming Events</h2>

{% if events %}
    {% for event in events %}
        <div>
            <strong>{{ event.title }}</strong><br>
            {{ event.description }}<br>
            <small>Date: {{ event.event_date }}</small>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No events available</p>
{% endif %}

<br>
<a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
